button {
    height: 150px;
    width: 150px;
    font-size: 20px;
    background-color: goldenrod;
}

div {
    font-size: 50px;
    background-color: darkgoldenrod;
    text-align: center;
}

img {
    height: 600px;
    width: auto;
}